/* Global styles */
body {
       font-family: 'Montserrat', sans-serif;
       margin: 0;
       background-color: #000;
       color: #fff;
       overflow: hidden;
}

/* Main layout */
.main {
       display: flex;
       height: 100vh;
}

/* Sidebar */
.sidebar {
       background-color: #121212;
       width: 340px;
       border-radius: 1rem;
       /* 16px */
}

/* Main content area */
.main-content {
       background-color: #121212;
       flex: 1;
       border-radius: 1rem;
       overflow: auto;
}

/* Music player */
.music-player {
       background-color: #000;
       position: fixed;
       bottom: 0;
       width: 100%;
       height: 72px;
}